@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Reset */
body {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}

header {
    padding: 10px 10px 20px 20px;
    text-align: center;
    color: #0d3f67;
    background-color: #f2f4f6;
}

nav {
    padding: 5px;
    background-color: #1ee3cf;
    text-align: center;
    position: sticky;
    top:0;
}

ul {
    list-style-type none;
    margin:0;
    padding:0;
    overflow: auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: #0d3f67;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a hover {
    background-color: #1111;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#FOIA {
    text-align: center;
    padding: 5px 10px;
    background: #6b48ff;
    font-family: 'Raleway', sans-serif;
}

#FOIA p {
    margin: 0;
    padding: 15px 5px 5px 5px;
    color: #f2f4f6;
}

.ui.huge.button {
    padding: 10px;
    background-color: #f2f4f6;
    box-shadow: 5px 5px #fd8e7d;
}

.ui.huge.button:hover {
    background-color: #fd8e7d;
}

* html #FOIA {
    height: 1px;
}

#custodians{
    text-align: center;
    padding: 20px 5px 0px 5px;
    background-color: #f2f4f6;
    font-family: 'Raleway', sans-serif;
}

#custodians p {
    margin:0;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #f2f4f6;
  color: #0d3f67;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion.solid {
    border-radius: 25px;
    border: 2px solid rgba(13,63,103,.2);
    padding: 20px;
    width: 75%;
    height: 75px;
    margin-bottom: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #dff4f6;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #f2f4f6;
  display: none;
  overflow: hidden;
}

#states {
    color: #0d3f67;
    background:#f2f4f6;
    padding: 15px 5px 15px 5px;
    text-align: center;
}

#OpenRecords{
    clear:both;
    padding:5px 10px;
    background:#1ee3cf;
    text-align:center;
}

#OpenRecords p {
    margin:0;
    font-family: 'Raleway', sans-serif;
}

* html #OpenRecords {
    height:1px;
}

#footer {
    clear:both;
    padding:5px 10px;
    background:#1ee3cf;
    text-align:center;
}

#footer p {
    margin:0;
}

* html #footer {
    height:1px;
}
